.form-parent {
    height: 20rem;
    width: 36rem;
    margin: auto;
    margin-top: -14rem;
}

.form-parent__heading {
    font-size: 3rem;
    line-height: 60px;
    color: #fff;
    margin-bottom: 1rem;
}

.main-form {
    width: 100%;
    border: none;
    position: relative;
}


.current--form {
    margin-top: 4rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

input:focus {
    outline: none;
}

.main-form__todo-input {
    border-radius: 10px;
    width: 100%;
    height: 4rem;
    border: none;
    padding: 1.5rem 1.5rem 1.5rem 4.1rem;
}

.list-item {
    width: 100%;
    border-bottom: 1px solid #efefef;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 0 1.3rem;
}

.list-item__inputs {
    display: flex;
    align-items: center;
}

.list-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main-form__current-input {
    width: 80%;
    height: 4rem;
    font-size: 1rem;
    line-height: 19px;
    color: #414141;
    padding: 1.5rem;
    border: none;
}

.current-todo__checkbox {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid #00D1FF;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    background-color: #fff;
}

.current-todo__checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
}

.add-todo {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #00A3FF;
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.remove-todo {
    display: none;
    cursor: pointer;

}

.list-item:hover .remove-todo {
    display: block;
}

.status {
    width: 100%;
    height: 1.6rem;
    padding: 1.5rem 1.5rem 1.5rem 1.3rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 0.7rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status__detailer {
    display: flex;
}

.status__detailer p {
    margin-right: 1.4rem;
    color: #858585;
}

.status__btn {
    border: none;
    color: #858585;
    background-color: #fff;
    font-size: 0.7rem;
    transition: 1000ms;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #fff;

}

.status__btn:hover {
    color: red;
    background-color: #fff;
    border-color: red;
}

.status__btn:hover {
    cursor: pointer;
}


.ajs-message.ajs-custom {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #31708f;
    border-radius: 15px;
}

.ajs-error {
    color: #fff;
    border-radius: 15px;
    text-align: center;
    background-color: red;
    border: 1px solid #fff;
    font-size: 1rem;
    width: 500px !important;
}

.ajs-warning {
    border-radius: 15px;
    background-color: red !important;
    color: #fff;
}


.parent--modifaer {
    background-color: #fff;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    border-bottom: 1px solid #e5e5e5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.parent--modifaer img {
    margin-bottom: 10px;
}

.parent--modifaer h2 {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 22px;
    color: #858585;
    margin-top: 30px;
}

.modifiaer {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}